{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.site.name }}

        {% if home_page.title %}
            - {{ home_page.title }}
        {% elif blog_page.title %}
            - {{ blog_page.title }}
        {% elif page.title %}
            - {{ page.title }}
        {% elif post.title %}
           - {{ post.title }}
        {% endif %}
    
    </title>
    <link id="highlight-link" rel="stylesheet" href="{% static 'css/highlight/styles/docco.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script>window.CKEDITOR_BASEPATH = "{% static 'ckeditor/ckeditor/' %}";</script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
</head>
<body>

    <nav>
        <h1><a href="/">{{ request.site.name }}</a></h1>

        <ul>
            {% for item in menu_items %}
                
                {% if item.slug == 'home' %}
                    <li><a href="/">{{ item.title }}</a></li>
                {% else %}
                    <li><a href="/{{ item.slug }}">{{ item.title }}</a></li>
                {% endif %}
                
            {% endfor %}
        </ul>
        <ul id="login-menu">
            
            {% if user.is_authenticated %}
            <li>Logged in as: {{ user }}</li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/admin/logout">Logout</a></li>
            {% else %}
            <li><a href="/admin/login">Login</a></li>
            {% endif %}
                
        </ul>
    </nav>


    <main>
        {% block content %}
            <h2>Hello, World!</h2>
        {% endblock content %}
    </main>
        
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>