{% extends 'base.html' %}
{% load static %}


{% block content %}
<section>
    <h2>{{ blog_page.title|default:title }}</h2>
    <p>{{ blog_page.body|default:_('Welcome to the blog!')|safe }}</p>
    {% if user.is_authenticated %}
    <p>
        <a href="/admin/posts/post/add/" target="_blank">New Post</a>
        <a href="/admin/posts/postcategory/" target="_blank">Manage Categories</a>
        <a href="/admin/pages/page/{{ blog_page.id }}/change/" target="_blank">Edit Page</a>
    </p>
    {% endif %}

        {% for post in object_list %}
            <div class="post-entry">
                {% if post.status != 'PUBLISHED' %}
                <h4>This post is not published.</h4>
                {% endif %}
                <h2><a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h2>
                {% if post.author.first_name or post.author.last_name %}
                <h4>By: {{ post.author.first_name }} {{ post.author.last_name }}</h4>
                {% else %}
                <h4>By: {{ post.author }}</h4>
                {% endif %}
                <p>{{ post.body|truncatewords_html:50|safe }}</p>
            </div>
        {% endfor %}
</section>
{% endblock content %}